/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* REUSABLE BOX */
.box {
    max-width: 500px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #ddd;
}

/* TITLE */
h1 {
    text-align: center;
    margin-bottom: 1rem;
}

/* QUIZ ITEMS */
.quiz-item {
    margin-bottom: 1rem;
}

/* LABELS */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* INPUTS */
input,
textarea,
select {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
}

/* CODE BLOCK */
code {
    display: block;
    background-color: #000;
    color: #fff;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
}

/* BUTTON */
button {
    display: block;
    margin: 1rem auto 0;
    padding: 0.75rem 1.5rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}