/* CONTENEDOR GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT PRINCIPAL */
main {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    align-items: start;
}

/* TITULO */
main h1 {
    grid-column: 2 / 3;
    text-align: center;
    color: darkblue;
    margin-bottom: 10px;
}

/* IMAGEN MAIN */
main img {
    grid-column: 2 / 3;
    width: 100%;
    border: 1px solid steelblue;
    padding: 4px;
    box-shadow: 0 0 15px gray;
}

/* TEXTO MAIN */
main p {
    grid-column: 2 / 3;
    padding: 10px;
}

/* ASIDE A LA IZQUIERDA */
aside {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 15px;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 100%;
}

/* FOOTER */
footer {
    max-width: 900px;
    margin: 20px auto;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}