/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */
nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: steelblue;
    border-radius: 4px;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN LAYOUT */
main {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
}

/* TITLE */
h1 {
    grid-column: 1 / -1;
    color: darkblue;
    text-align: center;
    margin-bottom: 20px;
}

/* MAIN IMAGE */
main img {
    width: 100%;
    border: 1px solid steelblue;
    padding: 4px;
    box-shadow: 0 0 20px gray;
}

/* PARAGRAPH */
p {
    padding: 10px;
    line-height: 1.6;
}

/* ASIDE */
aside {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 10px;
}

aside img {
    width: 100%;
    height: auto;
}

/* FOOTER */
footer {
    margin-top: 30px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}